* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
}

#header {
  background-color: #923baf;
}

#header h1 {
  color: #eee;
  padding: 25px;
  font-size: 2em;
}

.row, .col {
  display: flex;
}

.row > *, .col > * {
  flex: 1 1 0;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.drop-shadow {
  filter: drop-shadow(0 0 5px #333);
}

#form > * {
  padding: 25px;
  font-size: 1.5em;
  border-left: 1px #eee solid;
  border-bottom: 1px #eee solid;
}

.box {
  padding: 25px;
  font-size: 1.5em;
  border-bottom: 4px #ccc dashed;
}

.request {
  background-color: #eee;
}

.error {
  color: #eee;
  background-color: #c14141;
}

.loading {
  animation-name: loading;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes loading {
  from {
    color: #ccc;
  }
  to {
    color: #555;
  }
}
